* {
    border: 1px solid blue;
}

header {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    height: 50px;
}

section {
    height: 500px;
    position: relative;
}

footer {
    height: 100px;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    margin: 0;
}

nav ul li {
    margin-right: 20px;
    font-size: 20px;
}

nav ul li a {
    text-decoration: none;
}

.seccion1,
.seccion2,
.seccion3,
.seccion4 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.seccion1::before,
.seccion2::before,
.seccion3::before,
.seccion4::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0.5;
    z-index: -1;
}

.seccion1::before {
    background-image: url("../img/aprender-html.png");
}

.seccion2::before {
    background-image: url("../img/aprende-css.png");
}

.seccion3::before {
    background-image: url("../img/Aprende-js.jpg");
}

.seccion4::before {
    background-image: url("../img/APRENDE-PHP.jpg");
}

.seccion1 h3,
.seccion2 h3,
.seccion3 h3,
.seccion4 h3 {
    font-size: 100px;
    position: relative;
    z-index: 2;
}

section p {
    display: none;
    width: 60%;
}

section h3:hover + p {
    display: block;
    font-size: 30px;
    position: relative;
    z-index: 2;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
}

/* Media queries para pantallas pequeñas */
@media (max-width: 768px) {
    header h1 {
        display: none;
    }

    header {
        justify-content: space-around;
    }

    nav ul {
        justify-content: center;
    }

    .seccion1 h3,
    .seccion2 h3,
    .seccion3 h3,
    .seccion4 h3 {
        font-size: 40px;
    }

    section p {
        width: 80%;
    }
}
